server:
  port: 8081

spring:
  data:
    mongodb:
#      uri: mongodb://root:1oNdZOMJBd@localhost:27017/TWITTER
      host: flink-mongo-release-mongodb.default.svc.cluster.local
      port: 27017
      authentication-database: admin
      username: root
      password: ${MONGO_PASSWORD}
      database: TWITTER
