server:
  port: 8081

spring:
  data:
    mongodb:
#      uri: mongodb://root:1oNdZOMJBd@localhost:27017/TWITTER
      host: localhost
      port: 27017
      authentication-database: admin
      username: root
      password: 1oNdZOMJBd
      database: TWITTER
