apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "flink-streamer-spring.fullname" . }}
  labels:
      {{- include "flink-streamer-spring.labels" . | nindent 4 }}
data:
  application-prod.yaml: |-
    server:
      port: 8082

    spring:
      data:
        mongodb:
    #      uri: mongodb://root:1oNdZOMJBd@localhost:27017/TWITTER
          host: flink-mongo-release-mongodb.default.svc.cluster.local
          port: 27017
          authentication-database: admin
          username: root
          password: {{ .Values.environment.mongo_password }}
          database: TWITTER
